<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="" style="display: block;">Blog Title</label>
        <input type="text" maxlength="20" name="postTitle" style="width: 75%; margin: auto;" placeholder="Enter Subject">
        <label for="" style="display: block; ">Blog Content</label>
        <textarea name="postBody" id="" cols="119" rows="10"></textarea><br>
        <button type="submit" style="margin-top: 10px; background-color:blue; color: white; ">Publish</button>
    </form>

