<%- include('partials/header') -%>

<h3>You must first login to write or access blogs.</h3>

<div id="loginButton" style="background-color: red; width: 15%;"><a href="/auth/google" style="color: white;">Sign In With Google</a></div>


